<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">GradeManagement</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="#">新規登録</a>
        <a class="nav-link" href="#">ログイン</a>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <h2 class="cover-heading">GradeManagementへようこそ</h2>
    <p class="lead"></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">新規登録</a>
      <a href="#" class="btn btn-lg btn-secondary">ログイン</a>
    </p>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>create by Taku Uchida</p>
    </div>
  </footer>
</div>
