<main role="main" class="inner cover">
  <h2 class="cover-heading">GradeManagementへようこそ</h2>
  <p class="lead"></p>
  <p class="lead">
    <li class="btn btn-lg btn-primary"><%= link_to "新規登録", new_user_registration_path %></li>
    <li class="btn btn-lg btn-primary"><%= link_to "ログイン", new_user_session_path %></li>
  </p>
</main>
