@import "bootstrap";

body {
  background-color: #f6f6f3;
}

#error_explanation{
  color: #f33;
  h2{
    font-size: 20px;
  }
  ul{
    list-style-type: none;
  }
}

// headerのCSS
header{
  width: 100%;
}

.navbar-brand{
  font-size: 30px;
  margin-left: 20px;
}

.navbar-nav{
  color: #fff;
  font-size: 15px;
  margin-right: 20px;
  cursor: pointer;
  p{
    margin-bottom: auto;
  }
}

// footerのcss
footer{
  background-color: rgb(51,58,64);
  color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    margin-bottom: 0;
  }
}

// topページのCSS

.container{
  margin-top: 60px;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 25px 10px 7px;
    border: solid 0.5px #FFC107;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -0.5px;
    left: -0.5px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.box26 p {
    margin: 0;
    padding: 0;
}

// ユーザーページのCSS

.sidebar{
  border-right: 0.02em solid #fffafa;
}

.profile-boxitem{
  margin-bottom: 50px;
  h6{
    opacity: 0.5;
    display: inline-block;
    float: left;
  }
  h5{
    border-bottom: thin solid;
  }
}
// 新規登録ページ・ログインページ・編集ページ共通のCSS

.registration_title{
  color: #ddd;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.registration_box{
  margin-bottom: 10px;
}

.login_title{
  color: #ddd;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_box{
  margin-bottom: 10px;
}

.item_leftbox{
  color: #fff;
  padding: 15px;
  border-radius: 10px/10px;
}

.item{
  padding-top: 8px;
  h5{
    margin-right: 7px;
    display: inline-block;
  }
  small{
    color: #f00;
  }
}

.input_rightbox{
  color: #333;
  text-align: left;
  padding: 15px;
  select {
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  .input_rightbox{
    text-align: center;
  }
}

.link{
  margin: 15px;
}

.back_button{
  margin: 15px;
}

// 定期考査登録ページのCSS

.personalpoints-subtitle{
  margin-top: 15px;
  margin-bottom: 25px;
}

.averagepoints-subtitle{
  margin-top: 15px;
  margin-bottom: 25px;
}

table{
  margin-left: 30px;
  margin-bottom: 30px;
}

th,td{
  border: solid 1px #333;
}
