// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  border-right: 0.02em solid #fffafa; 
}

.profile-boxitem{
  margin-bottom: 50px;
  h6 {
    opacity: 0.5;
    display: inline-block;
    float: left;
  }
  h5 {
    border-bottom: thin solid;

  }
}
